# Python compiled files
*.pyc

# vim files
*.swp
*.swo
.viminfo

# Logfiles and pid's
*.log
*.pid

# SSL
*.cert
*.crt
*.key
*.pem

# Misc
.attach*
.bash*
*.cfg
*.pem

# Directories
run/
/html/
bin/Server/html/dist/
