.home-root {
  display: flex;
  height: 100vh;
  // width: auto;
  background-color: rgb(184, 188, 196);
}

.home-text-block {
  color: rgb(21, 27, 39);
  background-color: rgb(250, 248, 248);
  height: fit-content;
  width: fit-content;
  margin: 160px 10% auto 15%;
  padding: 40px 50px;
  border-radius: 7px;
}
