.login-root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background-color: rgb(19, 19, 20);
  color: rgb(255, 255, 255);
}

.login-form {
  text-align: center;

  h2 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-left: 65px;
  }
}

.input-container {
  text-align: left;
  padding-left: 76px;
  margin-bottom: 8px;
  label {
    font-size: 19px;
  }
  input {
    padding-top: 4px;
    width: 170px;
  }
}
.input-container:nth-child(2) {
  padding-left: 81px;
  margin-bottom: 25px;
}

.login-submit-button {
  height: 30px;
  width: 70px;
  margin-left: 65px;
}

.error-message {
  color: rgb(253, 89, 71);
  font-size: 20px;
  margin-left: 100px;
  margin-top: 50px;
}
