.dropdown {
  position: relative;
  width: min-content;
  font-size: 14px;

  .dropdown-selected-item {
    width: 100%;
    height: 100%;
    padding: 8px 0 8px 4px;

    background-color: rgb(43, 62, 111);
    // background-color: #2b66ca;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
  }

  .dropdown-input-value {
    width: 100%;
    height: 21px;
    border-radius: 2px;
    border-width: 1px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }

  .chevron-container {
    margin-left: 15px;
    padding-right: 8px;
  }

  .close-icon-container {
    width: 20px;
    padding-right: 2px;
    margin-left: 5px;
  }

  .menu {
    position: absolute;
    top: 35px;
    width: min-content;
    min-width: 95%;
    max-height: 230px;
    margin-left: 3px;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    border: 1px solid rgb(205, 204, 204, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 19;
    li:nth-child(odd) {
      background-color: rgb(211, 209, 209);
      &:hover {
        background-color: rgb(231, 231, 231);
      }
    }
    .search {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 21;
      padding: 3px 8px 0 8px;
      background-color: rgb(217, 217, 217);
      color: rgb(130, 125, 125);

      border-bottom: 1px solid rgb(200, 197, 197);
      box-sizing: border-box;
      input {
        border: none;
      }
    }
  }

  .light-menu {
    position: absolute;
    top: 23px;
    width: min-content;
    min-width: 100%;
    max-height: 230px;
    background-color: #fafafa;
    border-radius: 5px;
    // border: 1px solid rgba(174, 174, 174, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 19;
    li {
      background-color: rgb(233, 233, 233);
    }
    li:nth-child(odd) {
      background-color: rgb(242, 242, 242);
      &:hover {
        background-color: rgb(231, 231, 231);
      }
    }
    .search {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 21;
      padding: 3px 8px 0 8px;
      background-color: #fcfcfc;
      border-bottom: 1px solid rgb(200, 197, 197);
      box-sizing: border-box;
      input {
        border: none;
      }
    }
  }

  .leftwards {
    right: 0; // makes dropdown open up leftwards
  }

  .icon {
    color: black transparent;
    margin-top: 3px;
  }

  input {
    width: 100%;
    padding: 6px;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
  }

  li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    border-bottom: 1px solid rgb(221, 221, 221);
    transition: background-color 0.2s ease;
    box-sizing: border-box;

    &:hover {
      background-color: rgb(231, 231, 231);
    }
  }

  .item-content,
  .item-content-clear {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 7px 8px 6px;
    box-sizing: border-box;
  }

  .item-text {
    flex-grow: 1;
    white-space: nowrap;
    margin-right: 10px;
  }

  .item-content-clear {
    background-color: #fafafa;
    color: rgb(110, 110, 110);
    border-bottom: 0.5px solid rgb(143, 143, 143);
  }

  .no-results {
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 8px 12px;
    color: rgb(136, 136, 136);
    box-sizing: border-box;
  }
}
