.import-search-filter-container {
  position: relative;

  .chevron-container {
    margin-right: 5px;
    margin-left: 15px;
    flex-shrink: 0;
  }

  .search-filter-button {
    width: max-content;
    height: 100%;
    padding: 7.5px 12px;
    background-color: rgb(43, 62, 111);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
  }
}

.search-filter-funnel {
  margin-top: 3px;
  margin-right: 5px;
  color: #ffffff;
}

.import-search-filter-dropdown {
  position: absolute;
  top: 33px;
  right: 0;
  width: 207px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 1px 0px 27px -5px,
    rgba(0, 0, 0, 0.3) 1px 8px 16px -8px;
  padding: 20px 23px 23px 20px;
  border-radius: 5px;
  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin-top: 5px;
    font-size: 12px;
  }

  label {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
