body.resizing {
  user-select: none;
  cursor: ew-resize;
}

.table-modal-backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-modal-content {
  background: #ffff;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  padding: 40px 45px 45px 45px;
  border-radius: 8px;
  width: 584px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &.sidebar-minimized {
    margin-left: 85px;
  }
}

.table-modal-resize-handle {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}

.table-modal-resize-handle.left {
  left: -5px;
}

.table-modal-resize-handle.right {
  right: -5px;
}

.table-modal-h2 {
  margin-bottom: 40px;
  margin-top: 0;
}

.table-modal-body {
  margin-bottom: 20px;
  font-size: 14px;
  height: fit-content;
  label {
    width: 200px;
  }
}

.table-modal-setting {
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.setting-grouping-space {
  height: 20px;
  width: 100%;
}

// .radio-edit {
//   label {
//     margin-right: 40px;
//   }
//   .label-default-from-config {
//     margin-right: 0;
//   }
// }

.table-modal-label-disabled {
  color: rgb(174, 174, 174);
}

.table-modal-text-input {
  border: 0.5px solid rgb(42, 42, 42);
  width: calc(100% - 233px);
}

.table-modal-number-input {
  max-width: 120px;
  margin-right: 5px;
}

.table-modal-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.discover-modal-header {
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
}

.discover-container {
  display: flex;
  gap: 57px;

  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  height: fit-content;

  label {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  input {
    border: 0.5px solid rgb(42, 42, 42);
    padding-left: 4px;
    width: 100%;
    height: 16.5px;
  }

  .dropdown {
    width: 100%;
  }
}

.discover-first-container,
.discover-second-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 50%;
}

.discover-second-container {
  gap: 3px;
  width: 47%;
}

// Debug coloring
// .discover-first-container {
//   background-color: green;
//   label {
//     background-color: blue;
//   }
// }

// .discover-second-container {
//   background-color: rgb(66, 44, 77);
//   label {
//     background-color: blue;
//   }
// }

.discover-db-dropdown {
  margin-top: 15.2px !important;
  margin-bottom: -3px;
}

.discover-radio-edit {
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin-left: 5px;

  label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: max-content !important;
    margin-right: 30px;
    margin-top: 3px;
  }

  input[type='radio'] {
    margin: 0;
    vertical-align: middle;
  }
}

.text-block.discover {
  margin-top: 0;
}

.discover-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.discover-button-container.footer {
  margin-top: 30px;
}

.error-message {
  font-size: 12px;
  color: red;
  display: flex;
  justify-content: end;
  visibility: visible;
  margin: 25px 0 11px 0;
}
