.required-info,
.disabled-required-info {
  font-size: 12px;
  color: red;
  display: flex;
  justify-content: end;
  visibility: visible;
  margin: 0px 0 10px 0;
}

.disabled-required-info {
  visibility: hidden;
}
