.setting-container {
  position: relative;
  padding-left: 5px;
  padding-right: 10px;
  min-height: 20px;
  background-color: #edecec;
  border-radius: 3px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.setting,
.setting-disabled {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
  position: relative;
}

.setting-grouping-space {
  height: 20px;
  width: 100%;
}

.expanded-content {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 200;
  max-width: 820px;
  margin-top: 5px;
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: 5px;
  white-space: normal;
  word-break: break-word;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.setting-disabled {
  color: rgb(174, 174, 174);
  .setting-container {
    background-color: #f0f0f0;
  }
}

.setting-label {
  display: flex;
  align-items: center;
  width: 200px;
}

.chevron,
.chevron-expanded {
  position: absolute;
  right: 5px;
  top: 0;
  padding-top: 18px;
  transform: translateY(-50%);
  cursor: pointer;
  svg {
    width: 10px;
    height: 7px;
  }
}

.chevron-expanded {
  width: 100%;
}

.collapsed-content,
.collapsed-content-textarea {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 20px);
}

.collapsed-content {
  white-space: nowrap;
}

.collapsed-content-textarea {
  height: fit-content;
  max-height: 52px;
  white-space: normal;
  overflow-wrap: anywhere;
}
