.card,
.card-config,
.card-connection,
.card-disabled {
  background-color: #faf8f8;
  height: min-content;
  padding: 40px 29px 45px 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 5px;
}

.card,
.card-disabled {
  padding: 40px 29px 45px 40px;
}

.card-config,
.card-connection {
  padding: 40px 45px 45px 40px;
}

.card-disabled {
  color: rgb(174, 174, 174);
}

.card-h3 {
  margin: 0;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.card-dl {
  margin-bottom: 0;
}
