.logo-w-text-root {
  display: flex;
}

.logo-w-text-container {
  color: rgb(255, 255, 255);
  // margin: auto;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // font-size: var(--font-size-title);

  img {
    width: fit-content;
  }
}

.logo-w-text-logo {
  width: var(--icon-logo-size);
  height: var(--icon-logo-size);
}

.logo-w-text-h1 {
  margin-top: var(--title-margin-top);
  margin-left: var(--title-margin-left);
  margin-left: 10px;
  font-family: 'Roboto Slab Variable';
  font-size: var(--title-font-size);
}

.logo-w-text-middlecon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--middlecon-container-margin-top);
  // height: 15px;
  // width: 100px;
  p {
    margin: var(--text-margin);
    font-size: var(--text-font-size);
  }
}
.logo-w-text-middlecon {
  height: var(--middlecon-logo-size);
}

// .logo-w-text-text {
//   svg {
//     width: 30px;
//   }
// }
