.mainsidebar-root {
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 20);
  color: rgb(217, 217, 217);
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;

  &.minimized {
    width: 85px;
  }

  h2 {
    font-size: 16px;
    margin: 4px 0 0 10px;
  }

  .menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0;
    list-style: none;

    li {
      margin-top: 20px;
    }
  }
}

.mainsidebar-disabled {
  display: flex;
  color: rgb(75, 75, 75);
}

.chevron-double {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 20px;

  button {
    cursor: pointer;
    border: none;
    background-color: rgb(19, 19, 20);
    color: rgb(211, 206, 206);
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.mainsidebar-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mainsidebar-logo-link,
.mainsidebar-menu-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.mainsidebar-menu-link {
  padding: 2px;
  display: flex;
  width: 100%;
  &:hover {
    color: rgb(255, 255, 255);
  }

  &.active {
    // color: #548bea; // Based on the blue in the DBImport-logo

    // color: #2b66ca; // Middlecon-blue

    // based on Middlecon-blue:
    // color: #2f78f4;
    // color: #387bec;
    color: #407bdf;
  }
}

@media screen and (max-height: 464px) {
  .mainsidebar-root {
    overflow-y: scroll;
  }
}
