.mainsidebar-root {
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 20);
  color: rgb(217, 217, 217);
  width: 250px;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.minimized {
    width: 85px;
  }

  h2 {
    font-size: 16px;
    margin: 4px 0 0 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0;
    list-style: none;

    li {
      margin-top: 20px;
    }
    .menu-link {
      padding: 2px;
      cursor: pointer;
      display: flex;
      text-decoration: none;
      color: inherit;
      width: 100%;
      &:hover {
        color: rgb(255, 255, 255);
      }

      &.active {
        color: rgb(84, 139, 234);
      }
    }
  }
}

.chevron-double {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 20px;

  button {
    cursor: pointer;
    border: none;
    background-color: rgb(19, 19, 20);
    color: rgb(211, 206, 206);
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.mainsidebar-logo-container {
  margin-top: 50px;
}
