.custom-table-root {
  width: 100%;
  max-height: 100vh;
  border-collapse: collapse;
  margin: 0;
  font-size: 12px;
  text-align: left;
  border-radius: 20px;

  thead {
    position: sticky;
    top: 0;
    z-index: 14;
  }

  th {
    margin: 0;
    padding: 10px 16px 8px 12px;
    background-color: rgb(171, 171, 172);
    font-weight: bold;
    outline: 0.3px solid #abaeb8;
    z-index: 14;
  }

  // To make table header borders stay filled with the right color when scroll across browsers, for Chrome:
  th:after,
  th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }
  th:before {
    top: 0;
    border: 1px solid #abaeb8;
  }
  th:after {
    bottom: 0;
    border: 1px solid #abaeb8;
  }

  td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    position: relative;
    white-space: nowrap;
    z-index: 13;
  }

  .dbtables-row {
    background-color: rgb(250, 248, 248);
  }

  .dbtables-row:nth-child(even) {
    background-color: #eeeeee;
  }

  .tooltip {
    width: max-content;
    height: min-content;
    overflow: visible;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(6px) translateX(2px);
    background-color: #6e6e8c;
    color: #fcfcfc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 15;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: #6f6f89 transparent transparent transparent;
    }
  }

  .fixed-width {
    max-width: 80px;
    white-space: nowrap;
    p {
      overflow-x: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      margin: 0;
    }
    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
  }

  .actions-row {
    display: flex;
    justify-content: center;
    button {
      border: none;
      background-color: inherit;
      padding: 0;
    }
    .actions-delete-button {
      padding-left: 15px;
    }
  }
  .clickable-table-name {
    color: rgb(29, 29, 210);
    cursor: pointer;
  }
}

.columns-container {
  padding-bottom: 20px;
}

.scrollable-container {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  max-height: 70vh;
}
