.db-table {
  color: rgb(21, 27, 39);
  background-color: rgb(250, 248, 248);
  height: fit-content;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  border-radius: 7px;
}

.db-tables-list {
  list-style: none;
}
