.filters {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.db-table-root {
  color: rgb(21, 27, 39);
  height: fit-content;
  width: fit-content;
  min-width: 100%;
}

.db-tables-list {
  list-style: none;
}
