.tabs {
  display: flex;
  flex-direction: row;
  gap: 20%;
  padding-left: 40px;
  color: rgb(86, 85, 85);

  h2 {
    cursor: pointer;
    position: relative;

    &:hover {
      color: rgb(4, 4, 4);
    }

    &.active-tab {
      color: rgb(4, 4, 4);
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: black;
      }
    }
  }
}
