.table-d-v-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  padding: 0 40px;

  background-color: rgb(184, 188, 196);
  overflow-x: hidden;
  overflow-y: hidden;
}

.clickable-table-name {
  cursor: pointer;
  color: blue;
}
