@font-face {
  font-family: 'Work Sans Variable';
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Variable';
  src: url('../public/fonts/RobotoSlab-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  font-weight: 450;
}

body {
  font-family: 'Work Sans Variable', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
